@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sidebar-link.active {
  background-color: rgb(31, 31, 31);
}

ul.close .sidebar-link {
  width: 2.7em;
}


.sidebar-link-admin {
  @apply inline-flex items-center justify-center px-2 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(19, 19, 22);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}